<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gradebook.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <h1>Gradebook</h1>
            <div class="search-container">
                <div class="input-wrapper">
                    <img src="/img/search 1.svg" alt="Search" class="search-icon"> 
                    <input type="text" class="search-input" placeholder="Search">
                </div>
            </div>
            
        </div>
        <div class="my-3">
            <form class="form-inline">
                        <label class="sem-label mr-3" for="Semester">Semester</label>
                                <select class="custom-select form-control" id="Semester" onchange="updateURLWithSemester()">
                                    <option value="">Choose...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
            </form>
        </div>
        <div class="d-flex ">
                    <button class="excel mr-3">
                        <img src="/img/file-excel (1).png" alt="Excel File Export">
                        Excel Export
                    </button>
                    <button class="pdf">
                        <img src="/img/file-pdf (1).png" alt="PDF File Export">
                        PDF Export
                    </button>
                    <button id="saveButton" class="edit ml-auto">
                        <img src="/img/edit.png" alt="Edit">
                        Save
                    </button>
        </div>
        <div class="scroll-area mt-3">
            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="6" id="semesterTitle">SCHOOL YEAR - SEMESTER</th>
                            <th colspan="6">SUBJECT: MATH - CLASS 6A.1</th>
                        </tr>
                        <tr>
                            <th>STT</th>
                            <th class="teacher-header">Họ và tên</th>
                            <th colspan="4">Hệ số 1</th>
                            <th colspan="2">Hệ số 2</th>
                            <th>HK</th>
                            <th>TBM</th>
                            <th>HK1</th>
                            <th>CN</th>
                        </tr>
                    </thead>
                    <!--START THE GRADEBOOK -->
                    <tbody class="scroll-content">
                        {{#each combinedData}}
                        <tr data-grade-id="{{this.GradeID}}">
                            <td>{{@index}}</td>
                            <td class="name-cell">{{this.Name}}</td>
                            <td><input type="text" name="HS11" value="{{this.HS11}}"></td>
                            <td><input type="text" name="HS12" value="{{this.HS12}}"></td>
                            <td><input type="text" name="HS13" value="{{this.HS13}}"></td>
                            <td><input type="text" name="HS14" value="{{this.HS14}}"></td>
                            <td><input type="text" name="HS21" value="{{this.HS21}}"></td>
                            <td><input type="text" name="HS22" value="{{this.HS22}}"></td>
                            <td><input type="text" name="HS3" value="{{this.HS3}}"></td>
                            <td>{{#unless (eq this.Average 0)}}{{this.Average}}{{/unless}}</td>
                            <td><input type="text" name="HK1" value="{{this.HK1}}"></td>
                            <td><input type="text" name="CN" value="{{this.CN}}"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <script>
                        document.getElementById('saveButton').addEventListener('click', function() {
                            const gradeInputs = document.querySelectorAll('.scroll-content tr');
                            const gradesData = Array.from(gradeInputs).map(row => {
                                const cells = row.querySelectorAll('input');
                                return {
                                    gradeId: row.getAttribute('data-grade-id'),
                                    hs11: cells[0].value || null,
                                    hs12: cells[1].value || null,
                                    hs13: cells[2].value || null,
                                    hs14: cells[3].value || null,
                                    hs21: cells[4].value || null,
                                    hs22: cells[5].value || null,
                                    hs3: cells[6].value || null,
                                };
                            });

                            console.log("A:", gradesData);
                            fetch('./grade/update', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify(gradesData)
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Thành công:', data);
                                location.reload();
                            })
                            .catch((error) => {
                                console.error('Lỗi:', error);
                            });
                        });

                    </script>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const indexCells = document.querySelectorAll('.scroll-content tr td:first-child');
                            indexCells.forEach((cell, index) => {
                                cell.textContent = index + 1; // Tăng index bắt đầu từ 1
                            });
                        });
                    </script>

                    
                    <script>
                        function exportToExcel() {
                        let tempTable = document.createElement('table');
                        tempTable.innerHTML = document.querySelector('.table').outerHTML;
                        let inputs = tempTable.querySelectorAll('input');
                        inputs.forEach(function(input) {
                            input.parentElement.innerText = input.value;
                        });
                        let workbook = XLSX.utils.table_to_book(tempTable);
                        XLSX.writeFile(workbook, 'Gradebook.xlsx');
                    }
                    document.querySelector('.excel').addEventListener('click', exportToExcel);
                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const urlParams = new URLSearchParams(window.location.search);
                            const semesterNum = urlParams.get('semesterNum');
                            if (semesterNum) {
                                document.getElementById('semesterTitle').textContent += ' ' + semesterNum;
                            }
                        });
                    </script>
                    <script>
                        // Hàm xử lý khi select box thay đổi giá trị
                        function updateURLWithSemester() {
                            const semesterSelect = document.getElementById('Semester');
                            selectedSemester = semesterSelect.value; // Lưu giá trị option đã chọn
                            localStorage.setItem('selectedSemester', selectedSemester); // Lưu vào LocalStorage
                            const currentUrl = new URL(window.location.href);
                            currentUrl.searchParams.set('semesterNum', selectedSemester);
                            window.location.href = currentUrl.href;
                        }

                        document.addEventListener('DOMContentLoaded', function () {
                            const semesterSelect = document.getElementById('Semester');
                            semesterSelect.addEventListener('change', updateURLWithSemester);

                            // Lấy giá trị đã lưu từ LocalStorage (nếu có)
                            const storedSemester = localStorage.getItem('selectedSemester');
                            if (storedSemester) {
                                semesterSelect.value = storedSemester;
                            }
                        });
                    </script>

                </table>
            </div>
        </div>

    </div>
</body>