 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/scheduleview.css">
</head>
<body>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <h1>Schedule</h1>
            <div class="search-container">
                <div class="input-wrapper">
                    <img src="/img/search 1.svg" alt="Search" class="search-icon"> 
                    <input type="text" class="search-input" placeholder="Search">
                    
                </div>
            </div>
            
        </div>
        <div class="tab-box d-flex justify-content-start">
            <button class="tab-btn">Schedule View</button>
            
            <div class="line"></div>
        </div>
        <div class="content-box">
            <div class="content">
                <div class="scroll-area mt-3">
                    <div class="schedule">
                        <div class="filter mb-3 d-flex align-items-center justify-content-between">
                            <div>
                                <label for="filter" class="mr-1">Filter:</label>
                                <select id="filter" name="rows">
                                    <option value="" disabled selected>Choose..</option>
                                    <option value="all" >All</option>
                                    {{#each listteacher}}
                                        <option value="{{this._id}}">{{this.Name}}</option>
                                    {{/each}}
                                </select>
                                <button id="search" class="edit ml-auto">
                                    Search
                                </button>
                            </div>
                            <div>
                                
                                <button class="excel mr-3" onclick="exportToExcel()">
                                    <img src="/img/file-excel (1).png" alt="Excel File Export">
                                    Excel Export
                                </button>
                                
                            </div>
                        </div>
                        <table class="table" id="scheduleTable">
                
                            <thead>
                                <tr>
                                <th rowspan="3" class="teacher-header">Giáo viên</th>
                                <th colspan="10">Thứ 2</th>
                                <th colspan="10">Thứ 3</th>
                                <th colspan="10">Thứ 4</th>
                                <th colspan="10">Thứ 5</th>
                                <th colspan="10">Thứ 6</th>
                                <th colspan="10">Thứ 7</th>
                                <!-- Repeat the pattern for the rest of the days -->
                                </tr>
                                <tr>
                                <th colspan="5">Sáng</th>
                                <th colspan="5">Chiều</th>
                                <th colspan="5">Sáng</th>
                                <th colspan="5">Chiều</th>
                                <th colspan="5">Sáng</th>
                                <th colspan="5">Chiều</th>
                                <th colspan="5">Sáng</th>
                                <th colspan="5">Chiều</th>
                                <th colspan="5">Sáng</th>
                                <th colspan="5">Chiều</th>
                                <th colspan="5">Sáng</th>
                                <th colspan="5">Chiều</th>
                                </tr>
                                <tr>
                                <!-- The third row headers -->
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <th>Tiết 1</th>
                                <th>Tiết 2</th>
                                <th>Tiết 3</th>
                                <th>Tiết 4</th>
                                <th>Tiết 5</th>
                                <!-- Repeat the pattern for the rest of the days -->
                                </tr>
                            </thead>
                            <!--START THE SCHEDULE -->
                            {{#each teacher}}
                            <tbody class="scroll-content">
                                    <th>{{this.Name}}</th>

                                    <th>{{this.T2_M1}}</th>
                                    <th>{{this.T2_M2}}</th>
                                    <th>{{this.T2_M3}}</th>
                                    <th>{{this.T2_M4}}</th>
                                    <th>{{this.T2_M5}}</th>

                                    <th>{{this.T2_A1}}</th>
                                    <th>{{this.T2_A2}}</th>
                                    <th>{{this.T2_A3}}</th>
                                    <th>{{this.T2_A4}}</th>
                                    <th>{{this.T2_A5}}</th>

                                    <th>{{this.T3_M1}}</th>
                                    <th>{{this.T3_M2}}</th>
                                    <th>{{this.T3_M3}}</th>
                                    <th>{{this.T3_M4}}</th>
                                    <th>{{this.T3_M5}}</th>

                                    <th>{{this.T3_A1}}</th>
                                    <th>{{this.T3_A2}}</th>
                                    <th>{{this.T3_A3}}</th>
                                    <th>{{this.T3_A4}}</th>
                                    <th>{{this.T3_A5}}</th>

                                    <th>{{this.T4_M1}}</th>
                                    <th>{{this.T4_M2}}</th>
                                    <th>{{this.T4_M3}}</th>
                                    <th>{{this.T4_M4}}</th>
                                    <th>{{this.T4_M5}}</th>

                                    <th>{{this.T4_A1}}</th>
                                    <th>{{this.T4_A2}}</th>
                                    <th>{{this.T4_A3}}</th>
                                    <th>{{this.T4_A4}}</th>
                                    <th>{{this.T4_A5}}</th>

                                    <th>{{this.T5_M1}}</th>
                                    <th>{{this.T5_M2}}</th>
                                    <th>{{this.T5_M3}}</th>
                                    <th>{{this.T5_M4}}</th>
                                    <th>{{this.T5_M5}}</th>

                                    <th>{{this.T5_A1}}</th>
                                    <th>{{this.T5_A2}}</th>
                                    <th>{{this.T5_A3}}</th>
                                    <th>{{this.T5_A4}}</th>
                                    <th>{{this.T5_A5}}</th>

                                    <th>{{this.T6_M1}}</th>
                                    <th>{{this.T6_M2}}</th>
                                    <th>{{this.T6_M3}}</th>
                                    <th>{{this.T6_M4}}</th>
                                    <th>{{this.T6_M5}}</th>

                                    <th>{{this.T6_A1}}</th>
                                    <th>{{this.T6_A2}}</th>
                                    <th>{{this.T6_A3}}</th>
                                    <th>{{this.T6_A4}}</th>
                                    <th>{{this.T6_A5}}</th>

                                    <th>{{this.T7_M1}}</th>
                                    <th>{{this.T7_M2}}</th>
                                    <th>{{this.T7_M3}}</th>
                                    <th>{{this.T7_M4}}</th>
                                    <th>{{this.T7_M5}}</th>

                                    <th>{{this.T7_A1}}</th>
                                    <th>{{this.T7_A2}}</th>
                                    <th>{{this.T7_A3}}</th>
                                    <th>{{this.T7_A4}}</th>
                                    <th>{{this.T7_A5}}</th>
                            </tbody>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
            
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.tab-btn');
        const allContent = document.querySelectorAll('.content');
        const line = document.querySelector('.line');

        function updateLine(tab) {
            line.style.width = `${tab.offsetWidth}px`;
            line.style.left = `${tab.offsetLeft}px`;
            line.style.bottom = '-3px';
        }

        tabs.forEach((tab, index) => {
            tab.addEventListener('click', () => {
                tabs.forEach((t, i) => {
                    t.classList.remove('active');
                    allContent[i].style.display = 'none';
                });

                tab.classList.add('active');
                allContent[index].style.display = 'block';
                updateLine(tab);
            });
        });

        if (allContent.length > 0) {
            tabs[0].classList.add('active');
            allContent[0].style.display = 'block';
            updateLine(tabs[0]);
        }
    });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var fileInput = document.getElementById('exampleFormControlFile1');
            var fileChosen = document.getElementById('file-chosen');
            var uploadForm = document.getElementById('uploadForm');
            fileInput.addEventListener('change', function() {
                var fileName = fileInput.files[0] ? fileInput.files[0].name : "No file chosen";
                fileChosen.textContent = 'Đã chọn file: ' + fileName;
            });
            uploadForm.addEventListener('submit', function(e) {
                if (!fileInput.value) {
                    e.preventDefault();
                    alert('Chưa có file nào được chọn để upload!');
                }
            });
        });
    </script>    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const defaultRowsPerPage = 10; // Set your default value here
        let currentPage = 1;
        let rowsPerPage = defaultRowsPerPage;
        const rowsSelect = document.getElementById('rows');
        const paginationInfo = document.querySelector('.pagination-info');
        const prevButton = document.querySelector('.pagination-controls button:first-child');
        const nextButton = document.querySelector('.pagination-controls button:last-child');
        const table = document.querySelector('table'); // Assuming there is only one table

        function updateTableDisplay() {
            const rows = table.querySelectorAll('tr:not(:first-child)');
            const totalPages = Math.ceil(rows.length / rowsPerPage);
            
            // Hide all rows
            rows.forEach(row => {
                row.style.display = 'none';
            });

            // Calculate the range of rows to display
            const start = (currentPage - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            
            // Show the rows for the current page
            rows.forEach((row, index) => {
                if (index >= start && index < end) {
                    row.style.display = '';
                }
            });

            paginationInfo.textContent = `Page ${currentPage} of ${totalPages}`;
        }

        function goToPage(pageNumber) {
            currentPage = pageNumber;
            updateTableDisplay();
        }

        rowsSelect.addEventListener('change', function(event) {
            rowsPerPage = parseInt(event.target.value, 10);
            goToPage(1); // Reset to the first page and update table display
        });

        prevButton.addEventListener('click', function() {
            if (currentPage > 1) {
                goToPage(currentPage - 1);
            }
        });

        nextButton.addEventListener('click', function() {
            const rows = table.querySelectorAll('tr:not(:first-child)');
            const totalPages = Math.ceil(rows.length / rowsPerPage);
            if (currentPage < totalPages) {
                goToPage(currentPage + 1);
            }
        });

        // Initialize the table display
        updateTableDisplay();
    });
   
       
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const searchButton = document.getElementById('search');
  const selectElement = document.getElementById('filter');

  searchButton.addEventListener('click', function() {
    const teacherId = selectElement.value;
    if (teacherId) {
        if(teacherId === 'all'){
            window.location.href = `/schedule/teacher`;
        }else{
            // Chuyển hướng trình duyệt đến URL mới với teacherId
            window.location.href = `/schedule/teacher/${teacherId}`;
        }
      
    } else {
      alert("Please select a teacher before searching.");
    }
  });
});
</script>

<script>
function exportToExcel() {
    window.location.href = '/schedule/export-to-excel'; // Endpoint bạn sẽ tạo trên server
}
</script>


</body>