<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/violation.css">
</head>

<body>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <h1>Reward &amp Violation</h1>
            <div class="search-container">
                <div class="input-wrapper">
                    <img src="/img/search 1.svg" alt="Search" class="search-icon">
                    <input type="text" class="search-input" placeholder="Search">
                </div>
            </div>

        </div>

        <div class="tab-box d-flex justify-content-start">
            <button class="tab-btn">Violation Record</button>
            <button class="tab-btn">Top Rewards</button>
            <div class="line"></div>
        </div>
        <div class="content-box">
            <div class="content">
                <div class="d-flex ">
                    <button type="button" class="add d-flex align-items-center mr-auto my-3" data-toggle="modal"
                        data-target="#exampleModal">
                        <img class="mr-2" src="/img/add (1).png" alt="Add">
                        New
                    </button>

                </div>
                <div>
                    <table>
                        <tr>
                            <th></th>
                            <th>Student Name</th>
                            <th>Class</th>
                            <th>Violation</th>
                            <th>Date</th>
                        </tr>
                        {{#each violations}}
                        <tr>
                            <td>1</td>
                            <td>{{this.NameStudent}}</td>
                            <td>{{this.Class}}</td>
                            <td>{{this.Violation}}</td>
                            <td>{{this.Date}}</td>
                        </tr>
                        {{/each}}

                    </table>
                    <div class="table-control d-inline-flex justify-content-start align-items-center">
                        <div class="rows-per-page d-inline-flex">
                            <label for="rows" class="align-self-center">Rows per page:</label>
                            <select id="rows" name="rows">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="pagination-info">
                            1/1 of 1
                        </div>
                        <div class="pagination-controls">
                            <button>&lt;</button> <!-- Previous page -->
                            <button>&gt;</button> <!-- Next page -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="content">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="radio mb-3">
                            <input type="radio" id="school" name="option" value="school">
                            <label for="school">School</label>
                            <input type="radio" id="grade" name="option" value="grade">
                            <label for="grade">Grade</label>
                            <input type="radio" id="class" name="option" value="class">
                            <label for="class">Class</label>
                        </div>
                        <div class="mb-3" id="gradeSelection" style="display:none;">
                            <label for="gradeChoice">Choose a Grade:</label>
                            <select id="gradeChoice">
                                <option selected>Choose...</option>
                                {{#each khois}}
                                    <option value="{{this._id}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3" id="classSelection" style="display:none;">
                            <label for="classChoice">Choose a Class:</label>
                            <select id="classChoice">
                                <option value="">Choose...</option>
                                {{#each classes}}
                                    <option value="{{this._id}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <form class="form-inline mr-5">
                        <label class="sem-label mr-3" for="Semester">Semester</label>
                        <select class="custom-select form-control" id="Semester" onchange="updateURLWithSemester()">
                            <option value="">Choose...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </form>
                </div>

                <div id="schoolTable" style="display:none;">
                    <table>
                        <tr>
                            <th></th>
                            <th>Student Name</th>
                            <th>Date of Birth</th>
                            <th>Class</th>
                            <th>Score</th>
                        </tr>
                        {{#each studentAll}}
                        <tr>
                            <td>1</td>
                            <td>{{this.Name}}</td>
                            <td>{{this.DOB}}</td>
                            <td>{{this.ClassName}}</td>
                            <td>{{this.DTB}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div id="gradeTable" style="display:none;">
                    <table>
                        <tr>
                            <th></th>
                            <th>Student Name</th>
                            <th>Date of Birth</th>
                            <th>Class</th>
                            <th>Score</th>
                        </tr>
                        {{#each studentsKhoi}}
                        <tr>
                            <td>1</td>
                            <td>{{this.Name}}</td>
                            <td>{{this.DOB}}</td>
                            <td>{{this.ClassName}}</td>
                            <td>{{this.DTB}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div id="classTable" style="display:none;">
                    <table>
                        <tr>
                            <th></th>
                            <th>Student Name</th>
                            <th>Date of Birth</th>
                            <th>Class</th>
                            <th>Score</th>
                        </tr>
                        {{#each students}}
                        <tr>
                            <td>1</td>
                            <td>{{this.Name}}</td>
                            <td>{{this.DOB}}</td>
                            <td>{{this.ClassName}}</td>
                            <td>{{this.DTB}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="table-control d-inline-flex justify-content-start align-items-center">
                    <div class="rows-per-page d-inline-flex">
                        <label for="rows" class="align-self-center">Rows per page:</label>
                        <select id="rows" name="rows">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="pagination-info">
                        1/1 of 1
                    </div>
                    <div class="pagination-controls">
                        <button>&lt;</button> <!-- Previous page -->
                        <button>&gt;</button> <!-- Next page -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-3" id="exampleModalLabel">New </h5>

                </div>
                <div class="modal-body">
                    <form class="infor">
                        <div class="form-row">
                            <div class="col mb-3">
                                <label class="add-label" for="StudentName">Student Name</label>
                                <input type="text" class="form-control" name="StudentName" id="StudentName">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label class="add-label" for="Date">Date</label>
                                <input class="form-control" type="date" id="Date" name="date">
                            </div>
                            <div class="col form-group">
                                <label class="add-label" for="Class">Class</label>
                                <select class="custom-select form-control" id="Class">
                                    <option selected>Choose...</option>
                                    {{#each classes}}
                                    <option value="{{this.Name}}">{{this.Name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col mb-3">
                                <label class="add-label" for="Violation">Violation</label>
                                <input type="text" class="form-control" name="Violation" id="Violation">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="addButton" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>





    <script>
        document.getElementById('addButton').addEventListener('click', function () {
            const nameStudent = document.getElementById('StudentName').value;
            const className = document.getElementById('Class').value;
            const violation = document.getElementById('Violation').value;
            const date = document.getElementById('Date').value;
            // Gửi POST request với dữ liệu đã nhập
            fetch('http://localhost:3000/violation/vio/add', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nameStudent, className, violation, date })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json(); // Nếu máy chủ trả về dữ liệu không phải JSON, dòng này sẽ bị lỗi
                })
                .then(data => {
                    if (data.success) {
                        console.log('Thành công:', data.message);
                    } else {
                        console.error('ABC:', data.message);
                    }
                    $('#exampleModal').modal('hide');
                    location.reload();
                })
                .catch((error) => {
                    console.log(error)
                    console.error('Loi:', error);
                });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabs = document.querySelectorAll('.tab-btn');
            const allContent = document.querySelectorAll('.content');
            const line = document.querySelector('.line');

            function updateLine(tab) {
                line.style.width = `${tab.offsetWidth}px`;
                line.style.left = `${tab.offsetLeft}px`;
                line.style.bottom = '-3px';
            }

            tabs.forEach((tab, index) => {
                tab.addEventListener('click', () => {
                    tabs.forEach((t, i) => {
                        t.classList.remove('active');
                        allContent[i].style.display = 'none';
                    });

                    tab.classList.add('active');
                    allContent[index].style.display = 'block';
                    updateLine(tab);
                });
            });

            if (allContent.length > 0) {
                tabs[0].classList.add('active');
                allContent[0].style.display = 'block';
                updateLine(tabs[0]);
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const schoolRadio = document.getElementById('school');
            const gradeRadio = document.getElementById('grade');
            const classRadio = document.getElementById('class');

            const gradeSelection = document.getElementById('gradeSelection');
            const classSelection = document.getElementById('classSelection');

            function updateSelectionDisplay() {
                if (gradeRadio.checked) {
                    gradeSelection.style.display = 'block';
                    classSelection.style.display = 'none';
                } else if (classRadio.checked) {
                    gradeSelection.style.display = 'none';
                    classSelection.style.display = 'block';
                } else {
                    gradeSelection.style.display = 'none';
                    classSelection.style.display = 'none';
                }
            }

            schoolRadio.addEventListener('change', updateSelectionDisplay);
            gradeRadio.addEventListener('change', updateSelectionDisplay);
            classRadio.addEventListener('change', updateSelectionDisplay);

            // Initialize
            updateSelectionDisplay();
        });

    </script>
    <script>
        function updateURLWithSemester() {
            const semesterNum = document.getElementById('Semester').value;
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('semesterNum', semesterNum);
            window.location.href = currentUrl.href;
        }
    </script>
    <script>
        function updateURLWithClassChoice() {
            const classSelect = document.getElementById('classChoice');
            const selectedClass = classSelect.value;
            localStorage.setItem('selectedClass', selectedClass);
            const currentUrl = new URL(window.location.href);
            const params = new URLSearchParams(currentUrl.search);
            params.set('classID', selectedClass);
            // Sử dụng pushState để thay đổi URL mà không làm tải lại trang
            history.pushState({}, '', `${currentUrl.pathname}?${params.toString()}`);
        }
        document.addEventListener('DOMContentLoaded', function () {
            const classSelect = document.getElementById('classChoice');
            classSelect.addEventListener('change', updateURLWithClassChoice);
            const storedClass = localStorage.getItem('selectedClass');
            if (storedClass) {
                classSelect.value = storedClass;
            }
        });
    </script>
    <script>
        function updateURLWithGradeChoice() {
            const gradeSelect = document.getElementById('gradeChoice');
            const selectedGrade = gradeSelect.value;
            localStorage.setItem('selectedGrade', selectedGrade);
            const currentUrl = new URL(window.location.href);
            const params = new URLSearchParams(currentUrl.search);
            params.set('khoiID', selectedGrade);
            // Sử dụng pushState để thay đổi URL mà không làm tải lại trang
            history.pushState({}, '', `${currentUrl.pathname}?${params.toString()}`);
        }
        document.addEventListener('DOMContentLoaded', function () {
            const gradeSelect = document.getElementById('gradeChoice');
            gradeSelect.addEventListener('change', updateURLWithGradeChoice);
            const storedGrade = localStorage.getItem('selectedGrade');
            if (storedGrade) {
                gradeSelect.value = storedGrade;
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var radios = document.getElementsByName('option');
    radios.forEach(function(radio) {
        radio.addEventListener('change', function() {
            displayTable(this.value);
        });
    });
});

function displayTable(selectedOption) {
    hideAllTables();
    switch (selectedOption) {
        case 'school':
            document.getElementById('schoolTable').style.display = 'block';
            break;
        case 'grade':
            document.getElementById('gradeTable').style.display = 'block';
            break;
        case 'class':
            document.getElementById('classTable').style.display = 'block';
            break;
    }
}

function hideAllTables() {
    document.getElementById('schoolTable').style.display = 'none';
    document.getElementById('gradeTable').style.display = 'none';
    document.getElementById('classTable').style.display = 'none';
}

    </script>
</body>